 
 body{
  /* position: relative; */
 }


 .navbar {
  background-color: var(--ink);
  /* font-family: var(--Poppins); */
  position: fixed !important;
  width: 100%;
  top: 0;
  z-index: 1000;
  padding: 35px 0px !important; 
  
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  /* padding: 50px 0px 100px 0px; */
} 

.navright {
  display: flex;
  justify-content: space-between;
  width: 27%;
}

.navleft {
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.language {
  color: var(--white);
  font-family: var(--Cairo);
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 61%;
}

.navigation-links {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
  font-family: 'Poppins'

}

.auth {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.auths {
  text-decoration: none;
  color: var(--white);
  font-weight: 400;
  margin-left: 20px;
}

.login {
  font-size: 14px;
}

.signup {
  background-color: var(--white);
  color: var(--ink);
  border-radius: 5px;
  padding: 10px 24px;
  font-size: 14px;
}

.mobile-language {
  display: none;
}

.hamburger {
  display: none;
}

@media (max-width: 1024px) {
  .navbar {
    position: relative;
    padding: unset !important;
  }

  .navbar-container{
    padding:20px 0px 100px 0px;
  }

  .navright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    z-index: 100;
    left: 0;
    padding: 20px 40px;
  }

  .navbar-menu-open{
    position: absolute;
    padding: 20px 40px;
  }

  .navleft {
    background-color: var(--ink);

    position: absolute;

    top: 0px;
    z-index: 10;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 120px 100px 120px 100px; 
    display: none;
  }

  .hamburger {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    left: 0;
  }

  .desktop-language {
    display: none;
  }

  .mobile-language {
    display: flex;
    justify-content: center;
    color: var(--white);
    font-family: var(--Cairo);
    cursor: pointer;
    font-size: 20px;
  }

  .navlinks {
    flex-direction: column;

    width: 100%;
  }

  .navigation-links {
    margin-bottom: 20px;
    font-size: 20px;
  }

  .auth {
    flex-direction: column;


    width: 100%;
    margin-top: 30px;
  }

  .auths {
    width: 30%;
    font-weight: 400;
    margin-left: unset;
    margin-top: 20px;
    padding: 30px 30px;
  }

  .login {
    background-color: var(--white);
    color: var(--ink);
    border-radius: 5px;
    padding: 10px 20px;
  }

  .signup {
    margin-top: 20px;
    padding: 10px 20px;
  }
}

/*Media queries for mobile*/
@media (max-width: 768px) {

  .navbar{
    padding: 0px 0px !important; 
    /* border: 10px solid gray; */
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px; 

  }

  .navright{
    background-color: var(--ink);
  }

  .auths{
    width: 100%;
  }

}

/*Media queries for mobile*/
@media (max-width: 480px) {

  .logo {
    width: 80%;
    /* background-color: aliceblue; */
  }

  .logo-link-image{
    width: 100%;
  }

  .navleft {
    height: 100vh;
  }

}
