.pricing-container {
  padding: 140px 0px;
  width: 80%;
  margin: auto;
}

.price-card-container {
  display: flex;
  margin-top: 40px;
}

.price-card {
  width: 31%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--white);
  margin: 0px auto;
}

.selected {
  background-color: var(--ink);
}



.planHeading {
  color: var(--ink);
  font-family: "Benzin-Regular";
  font-size: 1.6em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.planPrice {
  color: var(--ink);
  font-family: Benzin-Regular;
  font-size: 2.7em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding: 20px 0px;
}

.planPara {
  color: #495564;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 20px auto;
}

.arrows {
  margin: 10px 0px 40px 0px;
}

.feature-containers {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.selected .planHeading {
  color: white;
}

.selected .planPrice {
  color: white;
}

.selected .planPara {
  color: white;
}

.selected .feat {
  color: white;
}

.arrow-check {
  width: 5%;
  margin-right: 10px;
}

.priceCardSignupBtn {
  padding: 14px 24px;
  align-items: center;
  border-radius: 33px;
  background: #00b795;
  color: #fff;
  text-align: center;
  width: 170px;
  font-size: 1em;
  align-self: center;
}

.box {
  flex: 1;
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s ease;
}


@media (max-width: 1024px) {
  .price-card {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }

  .pricing-container {
    padding: 80px 0px;

  }
  

  .price-card-container {
    flex-direction: column;
  }

  .pricecards {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 840px) {
  .pricecards {
    /* display: none; */
  }
}


@media (max-width: 480px){
  .planHeading {
    color: var(--ink);
    font-family: "Benzin-Regular";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
  }
  
  .planPrice {
    color: var(--ink);
    font-family: Benzin-Regular;
    font-size: 1.8em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 10px 0px;
  }
  
  .planPara {

    text-align:center;

    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: unset;
    margin: 10px 0px;
  }

  .pricing-container {
    padding: 100px 0px;
    width: 100%;
    margin: auto;
  }

  .priceCardSignupBtn {
    padding: 10px 20px;
    align-items: center;

    width: 140px;
    font-size: 12px;
    align-self: center;
  }

  .price-card {
   
   padding: 20px 15px;
  }
}