.heading-five{
    color: #00B795;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 1.995px;
    margin-block-end: 0px;
}

.heading-two{
    color: var(--ink);
    font-family: 'Benzin-Medium';
    font-size: 37px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 24px 0px;
}


.heading-one{

}

.centered{
    text-align: center;
}

.heading-text{
    color: #495564;
    font-family: 'Poppins';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 40px;
}

.text{
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins';
    line-height: 24px;
    color: var(--darkGrey);
   
}

.download{
    font-family: 'Poppins';
    font-size: 40px;
    line-height: 51px;
    text-align: left;
    color: var(--white);
    
}

.text-heading{
    font-family: 'Poppins';
font-size: 24px;


font-weight: bolder;
line-height: 27px;


/* margin:25px 0px; */



}



@media (max-width: 768px){
    .heading-five{
        font-size: 16px;
        text-align: center;
    }
    
    .heading-two{
        text-align: center;
        font-size: 22px;
        margin: 10px 0px;
        
    }

    .heading-text{
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }


}


@media (max-width: 480px){

    
    

    .text{
        width: 96%;
        font-size: 16px;
    }

    .text-heading{
      
    font-size: 19px;
    
    
    font-weight: bold;
    margin-bottom: 10px;
  
    
    
    
    }


}