/* .slider-container {
  position: relative;
  overflow: hidden;
   width: 300px; 
  height: 200px;
}

.slider {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#reviewSlider {
  height: 100vh;
  display: block;
} */


.review-card {
  /* position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f2f2f2;
  padding: 20px;
  display: none;
  transition: transform 0.3s ease-in-out;
  transform: translateY(100%);
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  border-radius: 14px;
  border: 1px solid #f9f9f9;
  background: #fff;
  width: 848px;
  box-shadow: 0px 0px 45px 0px rgba(70, 70, 70, 0.05); */
}

.review-card.active {
  /* display: block;
  transform: translateY(0%); */
}

/* .slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.slider-button {
  background-color: #ccc;
  border: none;
  color: white;
  padding: 10px;
  margin: 0 5px;
  cursor: pointer;
}
.slider-buttons {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.slider-button {
  background-color: #00B795;
  border: none;
  color: white;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 24px;
}

.prev-button {
  margin-right: 10px;
}

.next-button {
  margin-left: 10px;
}
.slider-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button {
  background-color: #00B795;
  border: none;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-button img {
  width: 70%;
  height: auto;
}
#faq {
  background: #fcfbfb;
  padding-top: 50px;
  padding-bottom: 50px;
}


.r-name {
  padding-top: 5px;
  color: var(--ink);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
}
.slider-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.review-container {

  padding: 0 160px;
 display: flex;
 align-items: center;
} */