/* Footer.css */

.footer-container {
  background-color: var(--ink);
  padding: 20px;
  color: var(--white);
}

.logo-container {
  display: flex;
  justify-content: center;

  margin-bottom: 20px;
}

.logo {
  /* width: 100px;
  height: auto; */
}

.socials-container {
  margin-bottom: 20px;
  /* text-align: center; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icon-main-container{
  width: 15%;
  /* margin: 10px 0px; */
}

.social-icon-link{
  margin-left: 20px;
  width: 100%;
}

.tag{

}


.social-icons {
  display: flex;
  /* justify-content: center; */

}

.social-icon {
  /* margin: 0 5px;
  font-size: 24px;
  padding-right: 4px;
  padding-left: 4px; */
  width: 100%;
}

.stores-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.play-store{
  display: flex;
  justify-content: space-between;

  width: 27%;
  margin: 0px auto;
 
}


.store-icon {
  width: 45%;
  height: auto;
  /* margin: 0 10px; */


}

.divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;

}

.left-text {
  color: #777777;

  display: flex;
  align-items: center;

}

.right-text  {
  
  display: flex;
 justify-content: space-between;
}

.bottomIcons{
  margin:30px 0px;
}

.right-text a {
  color: var(--white);
  text-decoration: none;
  color: #fff;
  font-family: 'Poppins';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; 
  padding-left: 20px;
}

.right-text a:hover {
  text-decoration: underline;
}

.footer-social-text{
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  
}


@media(max-width: 1024px){
  .social-icon-main-container{
    width: 25%;
  }

  .play-store{

  
    width: 40%;
    margin: 0px auto;
  }
}




@media (max-width: 768px) {

   
  .footer-text {

    flex-direction: column;
    /* align-items: center; */
  }

  .left-text {


    justify-content: center;
   
  }


  .right-text a {
 
    padding-left: unset;
  }


  .right-text a {
   
  }
  
  .right-text  {
  
    width: 70%; 
 
  }

  /* #play-store{
    margin-top: 20px;
  } */
  

  .play-store{

  width: 60%;
  }
  
  
}

@media (max-width: 480px) {

   
  .play-store{

    flex-direction: column;
    width: 50%;
  }


  .store-icon{
    margin-bottom: 20px;
  }

  .social-icons {
    display: flex;
    justify-content: unset;


  
  }
  .social-icon {


  
  
  }

  .social-icon-main-container{
    width: 50%;
    margin-top: 25px;
  
    justify-content: space-between;
    display: flex;
  }

  .socials-container{
    flex-direction: column;
    

    width: 100%;
 

  }

  .social-icons{
   
     display: flex;
     justify-content: space-between;

     width: 100%;
  }

  .social-icon-link{
    width: 15%;
    margin-left: 0px;
    
  }
  
  
  
}